<hello name="{{ name }}"></hello>
<p>
  Tes
  <br/><br/>
  {{"Contoh menulis di Angular"}}
  25 + 25 = {{25+25}}
  <br/><br/>
  Perkalian<br/>
  <input [(ngModel)] = "a" type="text"> * 
  <input [(ngModel)] = "b" type="text">
  <br/>
  {{a*b}}
  <br/>
  <br/>

</p>

<div *ngFor = "let buah of item; let i = index">
  {{i+1}}.
  Nama Item: {{ buah.nama }}<br/>
  Harga    : {{ buah.harga | currency : 'Rp'}}
</div>

<div *ngFor = "let data of arr">
  {{data}}
</div>

<p *ngIf="show">Teks ini muncul jika show = true</p>

<ng-template
  *ngIf = "show; then showBlock; else notShowBlock">
</ng-template>

<ng-template #showBlock>
  <p>Show true</p>
</ng-template>

<ng-template #notShowBlock>
  <p>Show false</p>
</ng-template>

<button (click) = "showButton()">Show</button><br/><br/>

<input [(ngModel)] =user type="text">
<p *ngIf="user">Halo {{user}}</p>

<p>
<button (click) = "klikButton()">Tekan disini</button>
{{pesan}}
</p>